@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 228 64.3% 32.2%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 92.1%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 0 0% 92.1%;
    --muted-foreground: 224 7.1% 45.1%;
    --accent: 178 46.1% 47.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 228 64.3% 32.2%;
    --radius: 0.5rem;
    --chart-1: 228 64.3% 32.2%;
    --chart-2: 178 46.1% 47.1%;
    --chart-3: 224 7.1% 45.1%;
    --chart-4: 0 0% 63.9%;
    --chart-5: 0 0% 83.1%;
    
    --sidebar: 224 71.4% 4.1%;
    --sidebar-foreground: 0 0% 96.1%;
    --sidebar-border: 224 20% 12%;
    --sidebar-ring: 228 64.3% 32.2%;
    --sidebar-accent: 224 20% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 96.1%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 0 0% 96.1%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 0 0% 96.1%;
    --primary: 228 64.3% 32.2%;
    --primary-foreground: 0 0% 98%;
    --secondary: 224 20% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 20% 12%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 178 46.1% 47.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 20% 12%;
    --input: 224 20% 12%;
    --ring: 228 64.3% 32.2%;
    --chart-1: 228 64.3% 32.2%;
    --chart-2: 178 46.1% 47.1%;
    --chart-3: 224 7.1% 45.1%;
    --chart-4: 0 0% 63.9%;
    --chart-5: 0 0% 83.1%;
    
    --sidebar: 0 0% 96.1%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 228 64.3% 32.2%;
    --sidebar-accent: 0 0% 92.1%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
